{
	acme_dns porkbun {
		api_key {$PORKBUN_API_KEY}
		api_secret_key {$PORKBUN_API_SECRET_KEY}
	}
}

*.{$DOMAIN} {
	@technitium host technitium.{$DOMAIN}
	handle @technitium {
		reverse_proxy technitium:5380
	}

	@dns host dns.{$DOMAIN}
	handle @dns {
		reverse_proxy technitium:8053
	}

	@synology host synology.{$DOMAIN}
	handle @synology {
		reverse_proxy 192.168.1.90:5080
	}

	@ntfy host ntfy.{$DOMAIN}
	handle @ntfy {
		reverse_proxy ntfy:2586
	}

	@dockhand host dockhand.{$DOMAIN}
	handle @dockhand {
		reverse_proxy dockhand:3000
	}

	@git host git.{$DOMAIN}
	handle @git {
		reverse_proxy gitea:3000
	}

	@vaultwarden host vaultwarden.{$DOMAIN}
	handle @vaultwarden {
		reverse_proxy vaultwarden:80
	}

	@searxng host searxng.{$DOMAIN}
	handle @searxng {
		reverse_proxy searxng:8080
	}

	@jellyfin host jellyfin.{$DOMAIN}
	handle @jellyfin {
		reverse_proxy jellyfin:8096
	}

	@seerr host seerr.{$DOMAIN}
	handle @seerr {
		reverse_proxy seerr:5055
	}

	@sonarr host sonarr.{$DOMAIN}
	handle @sonarr {
		reverse_proxy gluetun:8989
	}

	@radarr host radarr.{$DOMAIN}
	handle @radarr {
		reverse_proxy gluetun:7878
	}

	@prowlarr host prowlarr.{$DOMAIN}
	handle @prowlarr {
		reverse_proxy gluetun:9696
	}

	@bittorrent host bittorrent.{$DOMAIN}
	handle @bittorrent {
		reverse_proxy gluetun:8088
	}

	@cleanuparr host cleanuparr.{$DOMAIN}
	handle @cleanuparr {
		reverse_proxy cleanuparr:11011
	}
}
